/* stylelint-disable no-descending-specificity */

/* * { outline: 2px dotted red}; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
  background: #f7f7f9;
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: inherit;
  padding: auto;
}

.header {
  order: 1;
  background-color: white;
}

.navigation {
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}

.logo {
  display: flex;
  width: 20%;
  align-items: center;
}

.logo a {
  align-self: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.13em;
  line-height: 85%;
  color: #6070ff;
}

.menu-btn {
  width: 25px;
  height: 35px;
  background: none;
  cursor: pointer;
  border: 0;
  right: 3%;
  z-index: 2;
}

.active-menu-btn {
  position: fixed;
  width: 12px;
  height: 12px;
  right: 38px;
}

.mobile-menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  align-self: flex-start;
  background-color: rgb(96, 112, 255);
  backdrop-filter: blur(10px);
  mix-blend-mode: multiply;
  left: 0;
  top: 0;
}

.mobile-menu * {
  color: white;
  align-self: flex-start;
  padding: 0 0 0 1em;
  font-size: 1.2em;
}

.menu-btn .bar1,
.menu-btn .bar2,
.menu-btn .bar3 {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #6070ff;
  margin: 3px 0;
  transition: 0.4s;
}

.active .bar1 {
  transform: rotate(45deg) translate(3.5px, 7.7px);
  background-color: white;
  height: 2px;
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: rotate(-45deg) translate(1px, -5px);
  background-color: white;
  height: 2px;
}

.btn {
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2%;
  border-radius: 8px;
  border: 0;
  order: 1;
}

#desktop_nav {
  order: 1;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hide {
  display: none !important;
}

#intro {
  order: 2;
  background-image: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: inherit;
  padding: 114px 24px;
  gap: 2vh;
  border-bottom-left-radius: 80px;
  background-color: white;
}

.intro_greeting {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  order: 1;
  padding: 3% 0%;
}

.intro_text {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: #344563;
  order: 2;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  order: 3;
  margin: 0 !important;
}

.connect_text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #7f8cff;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 10rem;
  order: 4;
}

#Works {
  order: 3;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 20vh;
  gap: 15vh;
}

.work_item {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5vh;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: max-content;
  flex-wrap: wrap;
}

.portifolio_img {
  width: 75.5vw;
}

.work_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  width: 76vw;
  padding-bottom: 9%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.work_item_header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  color: #172b4d;
  padding-top: 4%;
}

.work_history {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  justify-content: space-between;
  height: max-content;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 2%;
  order: 0;
}

.client_name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  font-size: 0.8125em;
  color: #344563;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 2%;
  flex: none;
}

.role_name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125em;
  width: 99%;
  line-height: 1.3em;
  color: #7a869a;
}

.date {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125em;
  width: 100%;
  color: #7a869a;
}

.work_summary {
  width: 100%;
  padding-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 1.6em;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
  width: 100%;
}

.tags .tag-item {
  display: flex;
  align-items: center;
  padding: 3% 4.5%;
  background: #ebebff;
  border-radius: 8px;
}

.tags span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 2vw;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project_link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em;
  border: 1px solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3em;
  font-size: 1.0625em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.resume_link a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

#about_myself {
  background-color: whitesmoke;
  order: 4;
}

.about_me_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23vw 5vw;
  gap: 4vh;
  background-color: white;
  border-top-right-radius: 80px;
  flex: 1;
}

.about_me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4vh;
  justify-content: space-between;
}

.about_me_header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.35em;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about_me p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  color: #344563;
}

.socials2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 10rem;
  order: 4;
}

.connect_text2 {
  gap: 1vh;
}

.connect_text2 h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #7f8cff;
}

.resume_link {
  align-items: center;
  padding: 2.5vw;
  border: 1px solid #6070ff;
  border-radius: 8px;
  order: 4;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sep {
  width: 100%;
}

.skill_set1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  border-radius: 8px;
  width: 85vw;
}

.language_header h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  width: 84vw;
  line-height: 1.3em;
}

.btn2 {
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5%;
  border-radius: 8px;
  border: 0;
}

.language_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  gap: 2vh;
  width: 100%;
}

.language {
  width: 77vw;
  height: 11.5vh;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
}

.lan {
  display: flex;
  column-gap: 3vw;
  align-content: center;
}

.language_name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375em;
  align-self: center;
  color: #253858;
  grid-column: 1 / 2;
}

#contact_section {
  order: 4;
  background-color: white;
}

.contact_section_container {
  background: #6070ff;
  padding: 103px 24px 8px 24px;
  padding: 21vh 2vw 1vh 2vw;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/contact\ form\ bg.png);
  background-size: 44vh 123.5vh;
  background-position-x: 27.5vw;
  background-position-y: 5.25vw;
  background-repeat: no-repeat;
  height: max-content;
  flex-wrap: wrap;
}

#contact_section h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-self: center;
  text-align: center;
  color: white;
}

.contact_text p {
  padding: 3vw 5vw 0.001px 5vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  color: #ebebff;
}

#contact_section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
}

form > * {
  width: 100%;
  border-radius: 8px;
  padding: 4% 9% 4% 4.5%;
  border: 0;
}

#contact_section form label {
  display: none;
}

#name,
#email {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0625em;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#msg {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 1.3em;
  color: #172b4d;
}

#form_submit {
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 1.3em;
  display: flex;
  letter-spacing: 0.03em;
  color: #6070ff;
  cursor: pointer;
  padding: 2%;
}

.home_indicator {
  margin-top: 32px;
}

.popupOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #c1c7d0;
  backdrop-filter: blur(10px);
  mix-blend-mode: multiply;
  opacity: 0.9;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.popup {
  position: fixed;
  background-color: white;
  padding: 0 0.7em;
  border-radius: 8px;
  height: 90vh;
  width: 90vw;
  z-index: 3;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup .project {
  gap: 0;
}

.popup .work_item_header {
  width: 70%;
  align-items: center;
}

.popup .work_details {
  width: 100%;
  align-items: center;
  gap: 1em;
}

.popup .role_name {
  width: 100%;
}

.popupLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0.5em;
}

.popupLinks .project_link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 35vw;
  font-size: 0.9375em;
  padding: 0.7em 0;
  font-weight: 500;
}

.popupLinks .project_link img {
  width: 15%;
  height: 25%;
}

.popup .portifolio_img {
  width: 100%;
}

.popupClose {
  font-size: 2em;
  color: grey;
  background: none;
  border: 0;
  cursor: pointer;
}

.popupSeperator {
  width: 99%;
  padding: 0.4em 0 0.7em 0;
}

.noscroll {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .project_link p a {
    width: 100px;
    height: 5px;
    font-size: 17px;
    color: #396df2;
  }

  .logo {
    width: 10%;
    padding: 0;
  }

  .navigation {
    padding: 0 10%;
    position: fixed;
    width: 100vw;
    background-color: white;
  }

  #desktop_nav.hide {
    display: flex !important;
  }

  #desktop_nav {
    opacity: 1;
    order: 1;
    pointer-events: all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    width: 259px;
    align-items: center;
    padding: 20px 0;
  }

  #desktop_nav a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .menu-btn {
    display: none !important;
  }

  #intro {
    padding-top: 15%;
    background-image: url(images/Header\ bg@2x.png);
    background-position: top center;
    background-size: 97% 80%;
    background-position-y: 55%;
    border-bottom-left-radius: 100px;
  }

  #intro h1,
  #intro p,
  #intro > div,
  #intro ul {
    margin: 0% 20%;
  }

  .intro_greeting {
    padding-top: 10%;
    font-size: 3em;
    padding-bottom: 0;
  }

  .intro_text {
    font-size: 1.25em;
    width: 56vw;
  }

  .connect_text p {
    margin: 0;
  }

  .socials {
    padding-bottom: 9%;
  }

  .work_item {
    justify-content: space-between;
    flex-direction: row;
    width: 76vw;
  }

  .portifolio_img {
    width: 35vw;
  }

  .work_details {
    width: 36vw;
    padding: 0 2% 5% 2%;
  }

  .work_item_header {
    padding-top: 4%;
    font-size: 40px;
    font-size: 2.5em;
    width: 250%;
    padding-right: 55px;
  }

  .work_history {
    width: min-content;
    align-content: space-around;
    align-items: center;
  }

  .client {
    padding-right: 5%;
    padding-left: 0;
  }

  .client_name {
    font-size: 1.125em;
    align-self: flex-end;
  }

  .role {
    padding: 0% 5%;
    align-self: flex-end;
  }

  .role_name {
    font-weight: 400;
    font-size: 1.125em;
    width: 100%;
  }

  .date {
    font-weight: 400;
    font-size: 1.125em;
    padding: 0% 30%;
    align-self: flex-end;
  }

  .work_summary {
    font-size: 1em;
  }

  .tags {
    padding-bottom: 5%;
  }

  .tags .tag-item {
    padding: 0.5% 4.5%;
  }

  #Works .work_item:nth-child(even) {
    flex-direction: row-reverse !important;
  }

  #about_myself {
    background-color: whitesmoke;
    order: 4;
  }

  .about_me_container {
    padding: 20vh 10vw;
    gap: 4vh;
    background-color: white;
    border-top-right-radius: 80px;
    flex: 1;
    position: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about_me {
    gap: 3.5vh;
    justify-content: space-between;
  }

  .about_me_header {
    font-size: 250%;
    line-height: 1.35em;
  }

  .about_me p {
    font-size: 1em;
    width: 40vw;
  }

  .socials2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 140.17px;
    order: 4;
  }

  .connect_text2 {
    gap: 8vh;
  }

  .resume_link {
    align-items: center;
    padding: 0.5vw;
    border-radius: 4px;
  }

  #resume {
    font-weight: 700;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
  }

  .language_header {
    width: 40vw;
  }

  .language_header_minimized {
    width: 40vw;
    height: 7vh;
    padding-top: 2vh;
  }

  #frameworks {
    padding-bottom: 4vh;
    padding-top: 6.5vh;
  }

  .language_header h3 {
    line-height: 1.3em;
  }

  .btn2 {
    padding: 0;
  }

  .sep {
    width: 105%;
    align-self: flex-start;
  }

  .language_list_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .language {
    width: 11vw;
    height: 120px;
    padding: 0;
    padding-bottom: 2vh;
    background: #f7f7f9;
  }

  .lan {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.5vh;
    padding: 2.5vh 0 0.5vh 0.8vw;
  }

  .lan > img {
    width: 3vw;
  }

  .contact_section_container {
    background: #6070ff;
    padding: 12% 25%;
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 97% 80%;
    background-position-y: 55%;
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
  }

  #contact_section form {
    width: 70%;
  }

  #contact_section form > * {
    width: 100%;
    border-radius: 2px;
    padding: 1% 9% 1% 4.5%;
    border: 0;
  }

  #form_submit {
    width: 100%;
    justify-content: center;
    align-self: center;
    border-radius: 8px;
    padding: 2vh 0;
    border: 2px solid;
  }

  #form_submit:hover {
    background: #6070ff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    color: white;
    border: 2px solid white;
  }

  #form_submit:active {
    background: #2230d2;
  }

  .home_indicator {
    opacity: 0;
  }

  .btn_effect:hover {
    background: #6070ff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    color: white;
  }

  .btn_effect:hover * {
    color: white;
  }

  .btn_effect:active {
    background: #2230d2;
  }

  .hover_effect:hover {
    transform: scale(1.1);
  }

  .popupSeperator {
    width: 100%;
    grid-area: hr;
    padding: 0;
  }

  .popup .project {
    width: 100%;
    grid-area: project;
  }

  .popup .portifolio_img {
    width: 100%;
    grid-area: img;
  }

  .popup .work_summary {
    grid-area: desc;
    width: 60vw;
    font-size: 1em;
    padding-right: 5%;
  }

  .popup .tags {
    grid-area: tags;
    height: 100%;
    width: 100%;
  }

  .popupLinks {
    grid-area: links;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: flex-start;
  }

  .popupLinks a {
    font-size: 0.9em !important;
  }

  .popupLinks .project_link {
    width: 45%;
    padding: 3% 2%;
  }

  .popupLinks .project_link img {
    width: 15%;
    height: 20%;
  }

  .popup .work_details {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      'project project project project project project'
      'img img img img img img'
      'desc desc desc desc tags tags'
      'desc desc desc desc hr hr'
      'desc desc desc desc links links';
  }

  .popup .work_history {
    width: 30%;
  }

  .popupOverlay {
    padding: 2em 6.875em;
  }
}
